
* {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    color: #363732;
    background: #BBE1C3;
}

footer {
    background: #BBE1C3;
}

#pic {
    background: #BBE1C3;
    border: none;
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 400px;
}

#about {
    background: #BBE1C3;
    border: none;
}

.card {
    border: none;
    background: #BBE1C3;
}